
/*.bg-image {*/
/*  background-image: url('/Users/developer1/WebstormProjects/react-app/api/frontend/public/FrontPage1.jpeg');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  min-height: 100vh;*/
/*}*/

/*.login-bg {*/
/*  background-image: url('/Users/developer1/WebstormProjects/react-app/api/frontend/public/FrontPage1.jpeg');*/
/*  background-size: contain;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  min-height: max-content;*/
/*  display: flow-root;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/* app.css */
.app-container {
    display: inline;
    flex-direction: row;
    min-height: 1000000000000vh;
}

.header {
    background-color: #6200ea;
    color: white;
    padding: 1rem;
}

.footer {
    background-color: #eee;
    text-align: center;
    padding: 0.5rem;
}
.nav-link {
    margin-left: 150px;
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
}