.App {
  display: flex;
  justify-content: left;
}

.nav {
  flex: 1;
}

.profile-container {
  position: sticky;
  top: 20px;
  left: 20px;
  width: 250px; /* Adjust this to your needs */
  background-color: #afc1ed;
  border: 1px solid #ccc;
  padding: 15px;
}
