.App {
  display: flex;
  justify-content: left;
}

.nav {
  flex: 1;
}

.profile-container {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 2px; /* Adjust this to your needs */
  background-color: #afc1ed;
  border: 1px solid  #ccc;
  padding: 15px;
}
