.container {
    display: flex;
    flex-direction: column; /* Correct value for flexDirection */
    justify-content: center; /* Correct value for justifyContent */
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.output {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0048ff;
    color: white;
}
